@model IEnumerable<trivia_gt.Models.UsuarioBE>

@{
    ViewData["Title"] = "Menu";
    string imageLibro = ViewBag.ImagenLibro;
    string imageAnimo = ViewBag.ImagenAnimo;
    string fecha = ViewBag.Fecha;
    int IdRol = ViewBag.IdRol;

}

<div class="text-center">

    @if (IdRol.Equals(1))
    {
        <div class="card-group mt-5">
            <div class="card float-start">

                <figure class="figure">
                    <div class="card-img-top">
                        <img src="@imageAnimo" class="w-25 figure-img img-fluid rounded">
                    </div>
                    <div class="card-body">
                        <figcaption class="figure-caption text-success" style=" font-size:large!important">El último día que jugaste fue el @fecha</figcaption>
                    </div>
                </figure>

            </div>
            <div class="card float-end">

                <figure class="figure">
                    <div class="card-img-top">
                        <img src="@imageLibro" class="w-25 figure-img img-fluid rounded">
                    </div>
                    <div class="card-body">
                        <figcaption class="figure-caption" style="font-size:large!important">
                            @if (IdRol == 1)
                            {
                                <a class="btn btn-lg btn-success fs-1" href="@Url.Action("Index", "Preguntas")">
                                    <span class="fs-1"><i class="fa fa-play-circle me-2"></i></span>Jugar
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-lg btn-success fs-1" href="#">
                                    <span class="fs-1"><i class="fa fa-play-circle me-2"></i></span>Jugar
                                </a>
                            }

                        </figcaption>
                    </div>
                </figure>

            </div>
        </div>
    }
    else
    {
        @using (Html.BeginForm("Grabar", "Home", FormMethod.Post, new { @class = "form-horizontal bg-light", Id = "frmTablaUsuarios", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="card mt-5 border border-warning border-2">
                <div class="card-header bg-primary">
                    <h5 class="card-title text-white">Listado de Usuarios</h5>
                </div>
                <div class="card-body">
                    <table id="tblLista" class="table table-responsive-md table-striped table-hover table-borderless">
                        <thead>
                            <tr class="bg-success text-white">
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombres)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellidos)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdRol)
                                </th>
                                <th>Clasificación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                int i = 0;

                                <tr>
                                    <td class="text-start">@item.Nombres</td>
                                    <td class="text-start">@item.Apellidos</td>
                                    <td class="text-start">@item.Correo</td>
                                    <td>@Html.DropDownListFor(model => item.IdRol, item.Roles, new { @class = "form-select form-select-sm cmbRol", id = "IdRol", name = "IdRol"})</td>
                                    <td>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="ratings">
                                                @if (@item.punteoBE.estrella1.Equals(1))
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                } else
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                                @if (@item.punteoBE.estrella2.Equals(1))
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                                @if (@item.punteoBE.estrella3.Equals(1))
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                                @if (@item.punteoBE.estrella4.Equals(1))
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                                @if (@item.punteoBE.estrella5.Equals(1))
                                                {
                                                    <i class="fa fa-star rating-color"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star text-secondary"></i>
                                                }
                                                
                                            </div>
                                            <h5 class="text-success"> @item.punteoBE.Punteo</h5>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="button" value="Cambiar" id="btnGuardar" class="btn btn-sm btn-outline-warning btnSelect" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-warning mt-2">
                    <div class="text-end">
                        <input type="button" class="btn btn-outline-primary" value="Grabar" onclick="ActualizarUsuarios()" />
                    </div>
                </div>
            </div>
        }
    }

</div>


