@model trivia_gt.Models.PreguntaBE

<hr class="bg-success" />
<div class="row">
    <div class="col-md-12">
        <div class="card border-success">
            @using (Html.BeginForm("Grabar", "Preguntas", FormMethod.Post, new { @class = "form-floating", Id = "frmPreguntas" }))
            {
                @Html.HiddenFor(model => model.idPregunta, new { @id = "hdIdPregunta" })

                <div class="card-header">
                    <div class="form-group">
                        <h4 class="h3 text-success">@Model.pregunta</h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        @foreach (var item in Model.respuestas)
                        {
                            <div class="form-check">
                                @Html.RadioButtonFor(model => model.idRespuesta, item.idRespuesta, new { @class = "form-check-input fs-4", id = item.idRespuesta})
                                <label class="form-check-label fs-4" for="@item.idRespuesta">@item.text</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="card-footer bg-light">
                    <div class="text-end">
                            <input id="btnGrabar" onclick="GrabarPregunta()" type="button" value="Validar" class="btn btn-lg btn-group-lg btn-outline-primary" />
                            <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-group-lg btn-outline-success ms-2">Salir</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
