@model trivia_gt.Models.UsuarioBE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="../../../../">
    <meta charset="utf-8">
    <title>Trivia Guatemala | Registro</title>
    <link rel="icon" type="image/x-icon" href="~/images/guate.ico">
    <meta name="description" content="Registro Page TRIVIA">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/notify/notiflix-3.2.5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/dd.css" asp-append-version="true" />

</head>
<body style="background-color: #666!important; background-image:url(/images/gt_simbolos.jpg)" class="text-center">

    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-8 mt-2">
                <div class="align-items-center justify-content-center">
                    <main role="main">
                        @using (Html.BeginForm("Crear", "Perfil", FormMethod.Post, new { @class = "form-horizontal bg-light", Id = "frmRegistrar", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="card-header align-content-center text-center bg-primary d-block">
                                <div class="col-md-10">
                                    @Html.LabelFor(model => model.IdAvatar, htmlAttributes: new { @class = "form-label font-weight-bold text-light" })
                                    <select asp-for="IdAvatar" class="form-select" id="IdAvatar" name="IdAvatar" is="ms-dropdown">
                                        @foreach (var item in Model.ListaAvatar)
                                        {
                                            <option value="@item.IdAvatar" data-image="@item.URL">@item.Tag</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="card-body">


                                <div class="row g-3">

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    @Html.HiddenFor(model => model.IdUsuario, new { @id = "hdIdUsuario" })


                                    <div class="col-md-4">
                                        <label asp-for="Nombres" data- class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="Nombres" class="form-control" />
                                        <span asp-validation-for="Nombres" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Apellidos" class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="Apellidos" class="form-control" />
                                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="FechaNacimiento" class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="FechaNacimiento" class="form-control" asp-format="{0:dd/MM/yyyy}" />
                                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Correo" class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="Correo" class="form-control" />
                                        <span asp-validation-for="Correo" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="IdRol" class="form-label font-weight-bold text-success"></label>
                                        @Html.DropDownListFor(model => model.IdRol, Model.Roles, new { @class = "form-select"})
                                        <span asp-validation-for="IdRol" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4"></div>

                                    <hr class="bg-success" />
                                    <div class="col-md-4">
                                        <label asp-for="Clave" class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="Clave" class="form-control" />
                                        <span asp-validation-for="Clave" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="ConfirmacionClave" class="form-label font-weight-bold text-success"></label>
                                        <input asp-for="ConfirmacionClave" class="form-control" />
                                        <span asp-validation-for="ConfirmacionClave" class="text-danger"></span>
                                    </div>



                                </div>
                            </div>

                            <div class="card-footer bg-warning mt-2">
                                <div class="text-end">
                                    <input id="btnGrabar" type="submit" value="Grabar" class="btn btn-lg btn-group-lg btn-outline-primary" />
                                    <a href="@Url.Action("Login", "Login")" class="btn btn-lg btn-group-lg btn-outline-success ms-2">Regresar</a>
                                </div>
                            </div>

                        }

                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notify/notiflix-notify-aio-3.2.5.min.js"></script>
    <script src="~/js/dd.min.js" asp-append-version="true"></script>

</body>
</html>